Package: piavpn-downloader-installer
Version: 19.04.01
Architecture: all
Maintainer: dolphinoracle <dolphinoracle@gmail.com>
Installed-Size: 60
Depends: net-tools
Section: system
Priority: optional
Description: installer script for piavpn daemon by Private Internet Access
